p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size:10rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size:5rem;
}

/*Name: Heading 1*/
/*#intro h1 {
	font-family: "CMU Sans Serif", serif;
	font-style:normal;
	font-weight:700;
	font-size:5rem;
	line-height: 1.33;
	color:#000;
	/*margin:1em 0 0 0;
}

/*Name: Heading 2*/
/*#intro h2 {
	font-family: "CMU Sans Serif", serif;
	font-style:normal;
	font-weight:700;
	font-size:2.3em;
	line-height: 1.35;
	color:#000;
	margin:1em 0 0 0;
}*/

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}



/*Name: Body text*/
#intro p {
	font-family: "CMU Sans Serif", sans-serif;
	font-style:normal;
	font-weight:400;
	line-height: 1.54;
	color:#000;
	/*margin: 1.5em 0 0 0;*/
	hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
}

div.text {
  padding-top:1rem;
}

.noindent {
  text-indent:0;
}

#intro p.toc-item-h1 {
  text-indent:0rem;
  /*font-weight:700;*/
  /*padding-left:1.5rem;*/
}

a {
  color:black
}



/*RULES*/

/*HEADING BEHAVIOUR - Makes Several lines of headings look nice.*/
h1 + h1 {
	margin:0;
}

h2 + h2 {
	margin:0;
}

h3 + h3 {
	margin:0;
}

h4 + h4 {
	margin:0;
}

h5 + h5 {
	margin:0;
}

h6 + h6 {
	margin:0;
}

h1 + p {
	margin-top:0;
}

h2 + p {
	margin-top:0;
}

h3 + p {
	margin-top:0;
}

h5 + p {
	margin-top:0;
}

h6 + p {
	margin-top:0;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

/*This makes first line indents on paragraphs that follows paragraphs. And removes the margin-top.*/
p + p {
	text-indent: 1.5rem;
	margin-top: 0;
}

/*When empty paragraphs are added, the should not have margin-top, since they are themselves acting as a sort of margin-top with their emptyness. The line-height is then specified to have the same height as the same removed margin-top.*/
p.empty-paragraph {
	line-height:1.5em;
	margin-top:0;
}

p.noindent {
  text-indent:0;
}

/*This removes first line indent from paragraphs that comes after empty paragraphs*/
p.empty-paragraph + p {
	text-indent: 0;
}

/*CMU SANS SERIF*/

@font-face {
	font-family:"CMU Sans Serif";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmusansserifroman.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmusansserifoblique.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmusansserifboldex.otf");
}

@font-face {
	font-family: "CMU Sans Serif";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmusansserifboldexoblique.otf");
}

/*CMU SERIF*/

@font-face {
	font-family:"CMU Serif";
	font-style:normal;
	font-weight:400;
	src : url("Fonts/cmuserifroman.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:italic;
	font-weight:400;
	src : url("Fonts/cmuserifitalic.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:normal;
	font-weight:700;
	src : url("Fonts/cmuserifboldex.otf");
}

@font-face {
	font-family: "CMU Serif";
	font-style:italic;
	font-weight:700;
	src : url("Fonts/cmuserifboldexitalic.otf");
}
